  <div class="footer">
    <div class="row social-bar">
      <div class="col-md-12">
        <div class="center-content-inside-column">
          <!-- icons are from https://tinktank.in/free-flat-social-icons/ -->
          <ul>
            <li class="social-link"><a href="https://twitter.com/openemr"><img src="/wiki/skins/openemr/images/twitter-icon.png" /></a></li>
            <li class="social-link"><a href="https://www.facebook.com/OpenEMR-181315115284266/"><img src="/wiki/skins/openemr/images/facebook-icon.png" /></a></li>
            <li class="social-link"><a href="https://github.com/openemr/openemr"><img src="/wiki/skins/openemr/images/github-icon.png" /></a></li>
            <li class="social-link"><a href="https://plus.google.com/106799034872780958301/posts"><img src="/wiki/skins/openemr/images/google-plus-icon.png" /></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row sitemap">
      <div class="row logo">
        <div class="col-md-12">
          <img src="/wiki/skins/openemr/images/logo-for-footer.png" />
        </div>
      </div>

      <div class="row links">
        <div class="col-md-3 project-links-column">
          <h3 class="title">Main Project Links</h3>
          <div><a href="/wiki/index.php/OpenEMR_Features">Features</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Version_4_2_2_Demo">Demo</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Downloads">Download</a></div>
          <div><a href="/wiki">Wiki</a></div>
          <div><a href="https://sourceforge.net/p/openemr/discussion/">Forum</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Support_Guide">Support</a></div>
        </div>
        <div class="col-md-3 help-and-support-column">
          <h3 class="title">Help & Support Links</h3>
          <div><a href="/wiki/index.php/FAQ">FAQs</a></div>
          <div><a href="https://sourceforge.net/p/openemr/discussion/202505/">Forum</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#User_Manuals">User Manuals</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#Support">Support Guide</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Professional_Support">Professional Support</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#ONC_Ambulatory_EHR_Certification">Certification</a></div>
          <div><a href="/wiki/index.php/OpenEMR_Acknowledgments">Acknowledgements</a></div>
        </div>
        <div class="col-md-3 developer-links-column">
          <!-- TODO: replace `&nbsp;` nesting solution with something more elegant -->
          <!-- TODO: map inactive roots (e.x.: `Main Repository`) use a p tag -->
          <h3 class="title">Developer Links</h3>
          <div><a href="/wiki/index.php/OpenEMR_Wiki_Home_Page#Developer_Manuals">Developer Manuals</a></div>
          <div><a href="http://sourceforge.net/tracker/?group_id=60081">Tracker</a></div>
          <div><a href="http://sourceforge.net/projects/openemr/develop">Main Repository:</a></div>
          <div><a href="http://sourceforge.net/projects/openemr/develop">&nbsp;&nbsp;&nbsp;&nbsp; Sourceforge</a></div>
          <div><a href="http://github.com/openemr/openemr">Repository Mirrors:</a></div>
          <div><a href="http://github.com/openemr/openemr">&nbsp;&nbsp;&nbsp;&nbsp; Github</a></div>
          <div><a href="http://bitbucket.org/openemr/openemr/">&nbsp;&nbsp;&nbsp;&nbsp; Bitbucket</a></div>
          <div><a href="http://www.assembla.com/spaces/openemr/">&nbsp;&nbsp;&nbsp;&nbsp; Assembla</a></div>
          <div><a href="http://openemr.codeplex.com/">&nbsp;&nbsp;&nbsp;&nbsp; Codeplex</a></div>
          <div><a href="http://repo.or.cz/w/openemr.git">&nbsp;&nbsp;&nbsp;&nbsp; Repo.or.cz</a></div>
        </div>
      </div>
    </div>
  </div>

</div> <!-- end bootstrap container -->
