<div class="container header">
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
            <!-- note the repitition here is to create the "navicon": -->
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/"><img class="img-responsive" width="257" height="72" src="/wiki/skins/openemr/images/logo-full-con.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/wiki/index.php/OpenEMR_Features" class="nav-text-link features-link">Features</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Demo" class="nav-text-link demo-link">Demo</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Downloads" class="nav-text-link download-link">Download</a></li>
            <li><a href="/wiki" class="nav-text-link wiki-link">Wiki</a></li>
            <li><a href="https://sourceforge.net/p/openemr/discussion/" class="nav-text-link forum-link">Forum</a></li>
            <li><a href="/wiki/index.php/OpenEMR_Support_Guide" class="nav-text-link support-link">Support</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>


